<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.santa_monica3">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo12"
        android:label="Santa Monica"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_page" />
        <activity android:name=".Dashboard" />
        <activity android:name=".CreateNotice" />
        <activity android:name=".Service" />
        <activity android:name=".Events" />
        <activity android:name=".AboutUs" />
        <activity android:name=".GetAllUsersActivity" />
        <activity android:name=".UpdateDeleteActivity"></activity>
    </application>

</manifest>